
<button class="btn btn-large" ng-click="showStudents()">Show Students</button>

<div class="container hidden" id="studentsPage">
    <div>

        <h3>Students</h3>

        <table id="students" class="table table-hover">
            <thead>
                <th width="10%">ID</th>
                <th width="40%">Name</th>
                <th width="25%"></th>
                <th width="25%"></th>
            </thead>

            <tbody>
                <tr ng-repeat="student in filteredStudents | orderBy : 'id'">

                    <td>{{student.id}}</td>

                    <td>{{student.firstName}} {{student.lastName}}

                        <table id="det{{student.id}}" class="hidden">
                            <tr>
                                <td>ID </td>
                                <td> {{student.id}}</td>
                            </tr>
                            <tr>
                                <td>FirstName</td>
                                <td>{{student.firstName}}</td>
                            </tr>
                            <tr>
                                <td>LastName</td>
                                <td>{{student.lastName}}</td>
                            </tr>
                            <tr ng-show="student.email">
                                <td>Email</td>
                                <td>{{student.email}}</td>
                            </tr>
                            <tr ng-show="student.mobile">
                                <td>Mobile</td>
                                <td>{{student.mobile}}</td>
                            </tr>
                            <tr ng-show="student.address">
                                <td>Address</td>
                                <td>{{student.address}}</td>
                            </tr>
                            <tr ng-show="student.city">
                                <td>City</td>
                                <td>{{student.city}}</td>
                            </tr>
                            <tr ng-show="student.pincode">
                                <td>Pincode</td>
                                <td>{{student.pincode}}</td>
                            </tr>
                            <tr ng-show="student.state">
                                <td>State</td>
                                <td>{{student.state}}</td>
                            </tr>
                            <tr ng-show="student.country">
                                <td>Country</td>
                                <td>{{student.country}}</td>
                            </tr>
                            <tr ng-show="student.courses">
                                <td>Courses</td>
                                <td>{{student.courses}}</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <button id="showDetailsBtn{{student.id}}" class="btn btn-info" ng-click="showDetails(student)">Show Details</button>
                        <button id="hideDetailsBtn{{student.id}}" class="btn btn-info hidden" ng-click="hideDetails(student)">Hide Details&nbsp;&nbsp;</button>
                    </td>

                    <td><button class="btn btn-danger" ng-click="deleteStudent(student)">Delete Student</button></td>


                </tr>

            </tbody>

        </table>



        <pagination id="pagin" ng-model="currentPage" total-items="studentCount" max-size="{{maxSize}}" boundary-links="true">

        </pagination>


    </div>
</div>
