
<div class="container" id="studentsPage">
    <div style="padding-left:20px; padding-right:20px">

        <h3>Students</h3>

        <table id="students" class="table table-hover">
            <thead>
                <th width="10%">ID</th>
                <th width="40%">Name</th>
                <th width="25%"></th>
                <th width="25%"></th>
            </thead>

            <tbody>
                <tr ng-repeat="student in event.students | orderBy : 'firstName'">

                    <td>{{student.id}}</td>

                    <td>{{student.firstName}} {{student.lastName}}

                        <table id="det{{student.id}}" class="hidden">
                            <tr>
                                <td>ID </td>
                                <td> {{student.id}}</td>
                            </tr>
                            <tr>
                                <td>FirstName</td>
                                <td>{{student.firstName}}</td>
                            </tr>
                            <tr>
                                <td>LastName</td>
                                <td>{{student.lastName}}</td>
                            </tr>
                            <tr ng-show="student.email">
                                <td>Email</td>
                                <td>{{student.email}}</td>
                            </tr>
                            <tr ng-show="student.mobile">
                                <td>Mobile</td>
                                <td>{{student.mobile}}</td>
                            </tr>
                            <tr ng-show="student.address">
                                <td>Address</td>
                                <td>{{student.address}}</td>
                            </tr>
                            <tr ng-show="student.city">
                                <td>City</td>
                                <td>{{student.city}}</td>
                            </tr>
                            <tr ng-show="student.pincode">
                                <td>Pincode</td>
                                <td>{{student.pincode}}</td>
                            </tr>
                            <tr ng-show="student.state">
                                <td>State</td>
                                <td>{{student.state}}</td>
                            </tr>
                            <tr ng-show="student.country">
                                <td>Country</td>
                                <td>{{student.country}}</td>
                            </tr>
                            <tr ng-show="student.courses">
                                <td>Courses</td>
                                <td>{{student.courses}}</td>
                            </tr>
                        </table>
                    </td>
                    <td id="showDetailsBtn{{student.id}}" class="btn btn-info" ng-click="showDetails(student)">Show Details</td>
                    <td id="hideDetailsBtn{{student.id}}" class="btn btn-info hidden" ng-click="hideDetails(student)">Hide Details&nbsp;&nbsp;</td>
                    <td class="btn btn-danger" ng-click="deleteStudent(student)">Delete Student</td>


                </tr>

            </tbody>

        </table>





        <ul>
            <li ng-repeat="todo in filteredTodos" class="btn">{{todo.text}}</li>
        </ul>


        <pagination id="pagin" ng-model="currentPage" total-items="todos.length" max-size="10" boundary-links="true">

        </pagination>


    </div>
</div>
